<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>彩票2元</name>

    <description>
         彩票2元网
    </description>

    <author href="http://m.cp2y.com" email="luwenbin@live.com">
        luwenbin 
    </author>
    <gap:plugin name="org.li8.inappbrowser" version="0.1" />
</widget>